.prediction{
    background-color: rgb(133, 28, 28);
    color: aliceblue;
    text-align: center;
}

#bmi{
    margin-left: 105px;
}

#hba1c_level{
    margin-left: 50px;
}

.main_body {
    text-align: center;
    margin-top: 10px;
    background-color: rgb(70, 105, 105);
    border: 5px solid saddlebrown;   
    border-radius: 10px;
    color: aliceblue;
}

#pred1{
    margin-left: 100px;
    margin-top: 30px;
}

.header {
    text-align: center;
    color: rgb(228, 12, 12);
    background-color: rgb(196, 191, 125);
    border: 3px solid green;
    padding: 10px;
    font-size: 30px;

}

.header1{
    background-color: rgb(12, 126, 116);
    border: 3px solid rgb(12, 170, 214);
}